@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", sans-serif;
}


  /* Home */
.Home-heading {
font-family: 'Poppins', sans-serif;
 position: relative;
  /* color: white; */
  text-shadow: 0 0 15px rgba(1, 1, 1, 1);
}
.Home-bottom{
  background-color:white;
  padding-bottom: 0.5%;
  padding-top: 0%;
}

/* userlogin */
.login-mobile {
 .Userlogin-form {
  width: 90%;
  max-width: 450px;

  margin: 0 auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
}

.Userlogin-form {
  width: 90%;
  max-width: 450px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* user login Mobile */
@media (max-width: 600px) {
  .login-mobile {
    align-items: flex-start; /* move form to top */
    padding-top: 30px;
  }
}

/* loading page loader animation */
/* HTML: <div class="loader"></div> */
.loader {
  
  height: 4px;
 
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}